thead th {
    padding: 5px 20px;
    background-color: black;
    text-transform: capitalize;
}

.linked {
    cursor: pointer;
    &:hover {
        color: yellow;
        font-weight: bold;
    }
}